.bubbleContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bubbleContainer .bubble {
    position: absolute;
    border-radius: 0%;
    background-color: transparent;
    animation: bubble 10s ease-in infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bubbleContainer .bubble:nth-child(1) {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    left: 25%;
    top: 80%;
    animation-delay: 0s;
}

.bubbleContainer .bubble:nth-child(2) {
    width: 40px;
    height: 40px;
    font-size: 5rem;
    left: 10%;
    top: 25%;
    animation-delay: 2s;
    animation-duration: 7s;
}

.bubbleContainer .bubble:nth-child(3) {
    width: 25px;
    height: 25px;
    font-size: 2.5rem;
    left: 70%;
    top: 60%;
    animation-delay: 4s;
    animation-duration: 9s;
}

.bubbleContainer .bubble:nth-child(4) {
    width: 60px;
    height: 60px;
    font-size: 7rem;
    left: 40%;
    top: 0%;
    animation-delay: 0s;
    animation-duration: 10s;
}

.bubbleContainer .bubble:nth-child(5) {
    width: 80px;
    height: 80px;
    font-size: 9rem;
    left: 65%;
    top: 85%;
    animation-delay: 3s;
    animation-duration: 8s;
}

.bubbleContainer .bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    font-size: 4.5rem;
    left: 0%;
    top: 10%;
    animation-delay: 7s;
    animation-duration: 11s;
}

.bubbleContainer .bubble:nth-child(7) {
    width: 30px;
    height: 30px;
    font-size: 3rem;
    left: 50%;
    top: 95%;
    animation-delay: 5s;
    animation-duration: 6s;
}

.bubbleContainer .bubble:nth-child(8) {
    width: 50px;
    height: 50px;
    font-size: 5rem;
    left: 20%;
    top: 50%;
    animation-delay: 0s;
    animation-duration: 9s;
}

.bubbleContainer .bubble:nth-child(9) {
    width: 60px;
    height: 60px;
    font-size: 6rem;
    left: 85%;
    top: 15%;
    animation-delay: 3s;
    animation-duration: 7s;
}

.bubbleContainer .bubble:nth-child(10) {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    left: 90%;
    top: 10%;
    animation-delay: 2s;
    animation-duration: 6s;
}

.bubbleContainer .bubble:nth-child(11) {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    left: 40%;
    top: 20%;
    animation-delay: 7s;
    animation-duration: 10s;
}

.bubbleContainer .bubble:nth-child(12) {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    left: 5%;
    top: 70%;
    animation-delay: 0s;
    animation-duration: 6s;
}

.bubbleContainer .bubble:nth-child(13) {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    left: 50%;
    top: 20%;
    animation-delay: 0s;
    animation-duration: 11s;
}

.bubbleContainer .bubble:nth-child(14) {
    width: 20px;
    height: 20px;
    font-size: 2rem;
    left: 80%;
    top: 60%;
    animation-delay: 0s;
    animation-duration: 9s;
}

@keyframes bubble {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}
