* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: monospace;
}

body {
    min-height: 100vh;
    background: linear-gradient(45deg, #ff70a6 0%, #ffd670 100%);
    transition: all 0.2s ease-in-out;
}

a {
    color: inherit;
    text-decoration: none;
}

.material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

form .select__control {
    background-color: transparent;
    color: #fff;
    border: #fff 2px solid;
    height: 51.6px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.5);
}

form .select__control:hover {
    border: #fff 2px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

form .select__single-value {
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

form .select__input-container {
    color: #fff;
}

form .select__input {
    box-shadow: none;
}

form .select__input:hover {
    box-shadow: none;
}
