.main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    animation: slidein 1s ease-in-out forwards;
    padding-top: 6rem;
    padding-bottom: 1rem;
}

@keyframes slidein {
    0% {
        transform: translateY(200vh);
    }

    70% {
        transform: translateY(-5vh);
    }

    85% {
        transform: translateY(2vh);
    }

    100% {
        transform: translateY(0);
    }
}

.content .title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content .feedbackContainer {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.content .feedbackContainer .feedback {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1.2rem;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.content .feedbackContainer .feedbackHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content .feedbackContainer .feedbackHeader h2 {
    font-size: 1.2rem;
    font-weight: 700;
}

.content .feedbackContainer .feedbackHeader p {
    font-size: 1rem;
    font-weight: 700;
}

.content .feedbackContainer .feedbackContent {
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content .feedbackContainer .feedbackFooter {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content .feedbackContainer .feedbackFooter .feedbackId {
    font-size: 1rem;
    font-weight: 700;
}

.content .feedbackContainer .feedbackFooter .deleteButton {
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.content .feedbackContainer .feedbackFooter .deleteButton:hover {
    border: 1px solid #f00;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}

.content .nextButton {
    border-radius: 5px;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.1);
    color: #fff;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
}

.content .nextButton:hover {
    background-color: rgba(0, 255, 0, 0);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0);
}
