.footer {
    width: 100vw;
    border-top: 2px solid #fff;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
    padding: 2rem 0;
    background-color: #11111151;
}

.footer .inner {
    width: 80%;
    max-width: 1000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer .inner .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.footer .inner .column .title {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 1rem;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer .inner .column .text {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.footer .inner .column .version {
    font-size: 0.8rem;
    font-weight: 400;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    margin-top: 0.5rem;
}

.footer .inner .column a {
    color: #fff;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.footer .inner .column a:hover {
    text-decoration: underline;
}

.footer .inner .column .socials {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.footer .inner .column .socials a {
    color: #fff;
    margin-right: 1rem;
    text-decoration: none;
}

.footer .inner .column .socials a .black {
    filter: invert(1);
}

@media (max-width: 768px) {
    .footer .inner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .footer .inner .column {
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .footer .inner .column .socials {
        margin-top: 1rem;
    }
}
