.header {
    height: 64px;
    width: 100%;
    border-bottom: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.header .inner {
    height: 100%;
    width: 80%;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo h1 {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    font-family: "monofett", monospace;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.header .logo h1:hover {
    padding-top: 0.5rem;
}

.header .content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .content .profile {
    position: relative;
}

.header .content .profile img {
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 2;
}

.header .content .profile img:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header .content .profile .dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 0px;
    width: 36px;
    height: 0px;
    padding-top: 36px;
    border-radius: 20px 20px 20px 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    z-index: 1;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.header .content .profile:hover .dropdown {
    height: 175px;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header .content .profile .dropdown a {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
}

.header .content .profile .dropdown a:hover {
    color: #ff70a6;
}

.header .content .wallet {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-right: 1rem;
    background-color: #fff;
    height: 36px;
    padding: 0 0.5rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.header .content .wallet:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header .content .wallet:hover * {
    color: #ff70a6;
}

.header .content .wallet span {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    transition: all 0.2s ease-in-out;
}

.header .content .wallet p {
    font-size: 14px;
    font-weight: 700;
    color: #000;
    margin-left: 0.5rem;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
    .header {
        height: 48px;
    }

    .header .inner {
        width: 90%;
    }

    .header .logo h1 {
        font-size: 24px;
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    .header .content .wallet {
        height: 24px;
        padding: 0 0.25rem;
    }

    .header .content .wallet span {
        font-size: 12px;
    }

    .header .content .wallet p {
        font-size: 12px;
    }
}
