.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slidein 1s ease-in-out forwards;
}

@keyframes slidein {
    0% {
        transform: translateY(200vh);
    }

    70% {
        transform: translateY(-5vh);
    }

    85% {
        transform: translateY(2vh);
    }

    100% {
        transform: translateY(0);
    }
}

.content .title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content .leaderboard {
    max-width: 600px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content .leaderboard .user {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content .leaderboard .user .username {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content .leaderboard .user .avatar {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .leaderboard .user .flag {
    width: 18px;
    height: 18px;
    margin-left: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content .leaderboard .user .score {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

.content .leaderboard .user .position {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}
