.loaderContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.loader {
    border: 8px solid #f3f3f3;
    border-radius: 10%;
    border-top: 8px solid #70d6ff;
    border-bottom: 8px solid #ff9770;
    border-left: 8px solid #ff70a6;
    border-right: 8px solid #ffd670;
    width: 64px;
    height: 64px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
