.lobby {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.lobby .top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.lobby .top h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.lobby .top h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.lobby .top .dot {
    animation: dotPulse 2s infinite ease-in-out;
    vertical-align: middle;
    display: inline-block;
}

.lobby .top .dot:nth-child(1) {
    animation-delay: 0s;
}

.lobby .top .dot:nth-child(2) {
    animation-delay: 0.1s;
}

.lobby .top .dot:nth-child(3) {
    animation-delay: 0.2s;
}

@keyframes dotPulse {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-10px);
    }
    60% {
        transform: translateY(-4px);
    }
}

.lobby .mid {
    width: 90%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.lobby .mid .user {
    width: 150px;
    height: 200px;
    background-color: #fff;
    margin: 2.5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.lobby .mid .user img {
    width: 128px;
    height: 128px;
    border-radius: 50%;
    object-fit: cover;
}

.lobby .mid .user h2 {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lobby .mid .user .flag {
    width: 16px;
    height: 16px;
    margin-left: 4px;
}

.lobby .mid .user .activeEmote {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 48px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 1);
    opacity: 0;
    animation: emoteAnim 3s ease-in-out;
}

@keyframes emoteAnim {
    0% {
        opacity: 0;
        transform: scale(0) rotate(180deg);
        top: -50px;
    }
    5%,
    95% {
        opacity: 1;
        transform: scale(1) rotate(0deg);
        top: 0;
    }
    10% {
        transform: rotate(-15deg);
    }
    20% {
        transform: rotate(15deg);
    }
    30% {
        transform: rotate(-15deg);
    }
    40% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(180deg);
        top: -50px;
    }
}

.lobby .sentEmote {
    position: absolute;
    z-index: 0;
    bottom: -50px;
    left: -50px;
    font-size: 256px;
    opacity: 0;
    transform: rotate(30deg);
    animation: emoteAnimGiant 3s ease-in-out;
}

@keyframes emoteAnimGiant {
    0% {
        opacity: 0;
        transform: scale(0) rotate(30deg);
        bottom: -200px;
        left: -200px;
    }
    5% {
        opacity: 0;
        transform: scale(1) rotate(30deg);
    }
    95% {
        opacity: 0.2;
        transform: scale(1) rotate(30deg);
        bottom: -50px;
        left: -50px;
    }
    100% {
        opacity: 0;
        transform: scale(0) rotate(30deg);
        bottom: -200px;
        left: -200px;
    }
}

.lobby .bottom {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    position: relative;
}

.bottom .emotes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.bottom .emotes .emote {
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.bottom .emotes .emote span {
    font-size: 2rem;
    font-weight: 700;
}

.bottom .emotes .emote:hover {
    transform: scale(1.1);
}

.mute {
    position: absolute;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    user-select: none;
}

.mute:hover {
    transform: scale(1.1);
}

.mute span {
    font-size: 2.5rem;
}

@media (max-width: 768px) {
    .lobby {
        justify-content: flex-start;
    }

    .lobby .mid .user {
        width: 100%;
        height: 100px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.2);
        border: #fff solid 2px;
    }

    .lobby .mid .user img {
        width: 64px;
        height: 64px;
        margin: 0 10px;
    }

    .lobby .mid .user h2 {
        font-size: 1.4rem;
        color: #fff;
    }

    .lobby .mid .user .flag {
        width: 24px;
        height: 24px;
        margin-left: 8px;
    }

    .lobby .mid .user .activeEmote {
        font-size: 32px;
    }

    .lobby .bottom {
        position: fixed;
        bottom: 0;
    }

    .bottom .emotes {
        height: 100%;
    }

    .bottom .emotes .emote {
        width: 40px;
        height: 40px;
        margin: 0 5px;
    }

    .mute {
        position: fixed;
        top: 20px;
        right: 20px;
    }
}
