.main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    background: linear-gradient(135deg, #ff70a6 0%, #00000027 100%);
}

.main h1 {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    animation: text-shadow 1s ease-in-out infinite alternate;
    text-align: center;
}

.main button {
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.main button:hover {
    opacity: 0.8;
}

@keyframes text-shadow {
    0% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    }
    100% {
        text-shadow: 0 0 20px rgba(255, 255, 255, 0);
    }
}
