.main {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.main .content {
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 1s ease-in-out;
    position: absolute;
    animation: content 1s ease-in-out forwards;
}

@keyframes content {
    0% {
        transform: translatex(200vw);
    }

    70% {
        transform: translatex(-5vw);
    }

    85% {
        transform: translatex(2vw);
    }

    100% {
        transform: translatex(0);
    }
}

.main .content .searchFilter {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    cursor: default;
    border-radius: 10px 10px 0 0;
}

.main .content .searchFilter .expandButtonContainer {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.main .content .searchFilter .expandButtonContainer span {
    cursor: pointer;
    font-size: 24px;
}

.main .content .searchFilter h1 {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .content .searchFilter h1 span:nth-child(1) {
    font-size: 18px;
    font-weight: 400;
    color: #ff70a6;
    margin-right: 4px;
}

.main .content .searchFilter h1 span:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
    margin-left: 4px;
}

.main .content .searchFilter .timeEstimateContainer {
    position: absolute;
    top: 0;
    right: 0;
    height: 120px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .content .searchFilter .timeEstimateContainer span {
    font-size: 28px;
    color: #ff70a6;
    margin-bottom: 4px;
}

.main .content .searchFilter .timeEstimateContainer p {
    font-size: 14px;
    color: #ff70a6;
    font-weight: 400;
    margin-bottom: 8px;
}

.main .content .buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 0 0 10px 10px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.main .content .buttonContainer .button {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff70a6;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
}

.main .content .buttonContainer .button:hover {
    opacity: 0.8;
}

.main .searchingContainer {
    position: fixed;
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.main .searchingContainer .searching {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .searchingContainer .searching .spinner {
    border: 8px solid #f3f3f3;
    border-radius: 10%;
    border-top: 8px solid #70d6ff;
    border-bottom: 8px solid #ff9770;
    border-left: 8px solid #ff70a6;
    border-right: 8px solid #ffd670;
    width: 64px;
    height: 64px;
    animation: spin 1s ease-in-out infinite;
}

.main .searchingContainer .searching .searchingText {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    padding: 0 20px;
    line-height: 1.5;
}

.main .searchingContainer .searchingButton {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ff70a6;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .searchingContainer .searchingButton:hover {
    opacity: 0.8;
}

.main .bubbleContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.main .bubbleContainer .bubble {
    position: absolute;
    border-radius: 0%;
    background-color: rgba(255, 255, 255, 0.2);
    animation: bubble 10s ease-in infinite;
}

.main .bubbleContainer .bubble:nth-child(1) {
    width: 20px;
    height: 20px;
    left: 25%;
    top: 80%;
    animation-delay: 0s;
}

.main .bubbleContainer .bubble:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    top: 25%;
    animation-delay: 2s;
    animation-duration: 7s;
}

.main .bubbleContainer .bubble:nth-child(3) {
    width: 25px;
    height: 25px;
    left: 70%;
    top: 60%;
    animation-delay: 4s;
    animation-duration: 9s;
}

.main .bubbleContainer .bubble:nth-child(4) {
    width: 60px;
    height: 60px;
    left: 40%;
    top: 0%;
    animation-delay: 0s;
    animation-duration: 10s;
}

.main .bubbleContainer .bubble:nth-child(5) {
    width: 80px;
    height: 80px;
    left: 65%;
    top: 85%;
    animation-delay: 3s;
    animation-duration: 8s;
}

.main .bubbleContainer .bubble:nth-child(6) {
    width: 45px;
    height: 45px;
    left: 0%;
    top: 10%;
    animation-delay: 7s;
    animation-duration: 11s;
}

.main .bubbleContainer .bubble:nth-child(7) {
    width: 30px;
    height: 30px;
    left: 50%;
    top: 95%;
    animation-delay: 5s;
    animation-duration: 6s;
}

.main .bubbleContainer .bubble:nth-child(8) {
    width: 50px;
    height: 50px;
    left: 20%;
    top: 50%;
    animation-delay: 0s;
    animation-duration: 9s;
}

.main .bubbleContainer .bubble:nth-child(9) {
    width: 60px;
    height: 60px;
    left: 85%;
    top: 15%;
    animation-delay: 3s;
    animation-duration: 7s;
}

.main .bubbleContainer .bubble:nth-child(10) {
    width: 20px;
    height: 20px;
    left: 90%;
    top: 10%;
    animation-delay: 2s;
    animation-duration: 6s;
}

.main .bubbleContainer .bubble:nth-child(11) {
    width: 20px;
    height: 20px;
    left: 40%;
    top: 20%;
    animation-delay: 7s;
    animation-duration: 10s;
}

.main .bubbleContainer .bubble:nth-child(12) {
    width: 20px;
    height: 20px;
    left: 5%;
    top: 70%;
    animation-delay: 0s;
    animation-duration: 6s;
}

.main .bubbleContainer .bubble:nth-child(13) {
    width: 20px;
    height: 20px;
    left: 50%;
    top: 20%;
    animation-delay: 0s;
    animation-duration: 11s;
}

.main .bubbleContainer .bubble:nth-child(14) {
    width: 20px;
    height: 20px;
    left: 80%;
    top: 60%;
    animation-delay: 0s;
    animation-duration: 9s;
}

@keyframes bubble {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.main .searchOptionsContainer {
    width: 100%;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main .searchOptionsContainer .searchOption {
    width: 24%;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.main .searchOptionsContainer .searchOption:hover {
    opacity: 0.8;
}

.main .miniGameContainer {
    position: fixed;
    transition: all 1s ease-in-out;
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.main .miniGameContainer .searchingStatus {
    position: absolute;
    top: 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.main .miniGameContainer .miniGame {
    width: 400px;
    height: 400px;
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .miniGameContainer .miniGame .grid {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main .miniGameContainer .miniGame .grid .cell {
    width: 10%;
    height: 10%;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.main .miniGameContainer .miniGame .grid .cell:hover {
    background-color: rgba(0, 0, 0, 0.6);
}

.main .miniGameContainer .miniGame .grid .cellRevealed {
    width: 10%;
    height: 10%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    font-size: 24px;
}

.main .miniGameContainer .miniGame .grid .cellRevealed:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.main .miniGameContainer .restartButtonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .miniGameContainer .restartButtonContainer .restartButton {
    border: 2px solid #fff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 1);
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.main .miniGameContainer .restartButtonContainer .restartButton:hover {
    opacity: 0.8;
}
