.main {
    height: 100vh;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .content {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 1000px;
    height: 500px;
    padding: 20px;
    padding-left: 0;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main .content .leftMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30%;
    height: 100%;
    border-right: 1px solid #ccc;
}

.main .content .rightMenu {
    width: 70%;
    height: 100%;
    overflow-y: scroll;
}

.main .leftMenu .leftMenuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    width: 100%;
}

.main .leftMenu .leftMenuContent ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    list-style: none;
    padding: 0;
    height: 100%;
}

.main .leftMenu .leftMenuContent ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 50px;
}

.main .leftMenu .leftMenuContent ul li button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 10px;
    font-size: 16px;
    font-weight: 500;
}

.main .leftMenu .leftMenuContent ul li button:hover {
    background-color: #eee;
}

.main .leftMenu .leftMenuContent ul li button span {
    margin-left: 10px;
    margin-right: 10px;
}

.main .leftMenu .leftMenuContent ul li .active {
    border-left: 3px solid #ff70a6;
    background-color: #eee;
}

.leftMenuButton {
    display: none;
}

@media (max-width: 768px) {
    .main .content {
        overflow: hidden;
    }

    .main .content .rightMenu {
        width: 100%;
    }

    .main .content .leftMenu {
        width: 200px;
        overflow: hidden;
        background-color: #fff;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
        position: absolute;
        z-index: 500;
        padding-top: 20px;
        border-radius: 10px 0 0 10px;
        transition: all 0.2s ease-out;
    }

    .leftMenuButton {
        position: absolute;
        display: flex;
        transition: all 0.2s ease-out;
        background-color: #fff;
        z-index: 999;
        border-radius: 0 10px 10px 0;
        cursor: pointer;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
    }
}
