.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: slidein 1s ease-in-out forwards;
}

@keyframes slidein {
    0% {
        transform: translateY(200vh);
    }

    70% {
        transform: translateY(-5vh);
    }

    85% {
        transform: translateY(2vh);
    }

    100% {
        transform: translateY(0);
    }
}

.content .title {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.content .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    max-width: 800px;
    width: 80%;
}

.content .row .button {
    border: none;
    background-color: #fff;
    height: 200px;
    width: 250px;
    cursor: pointer;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.content .row .button .buttonContent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease-in-out;
}

.content .row .button:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.content .row .button:hover .buttonContent {
    text-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

@media (max-width: 768px) {
    .content .row {
        flex-direction: column;
    }

    .content .row .button {
        margin-bottom: 2rem;
    }
}
