.main {
    height: 100vh;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.main .content .title {
    width: 100%;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.main .content .subtitle {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.main .content .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main .content .buttons .button {
    width: 48%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.main .content .buttons .longButton {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.main .content .buttons .longButton:hover {
    opacity: 0.8;
}

.main .content .buttons .buttonDisabled {
    width: 48%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 700;
    opacity: 0.5;
    background-color: #ccc;
    color: #fff;
}

.main .content .buttons .button:hover {
    opacity: 0.8;
}
