.container {
    width: 100%;
    min-height: 100%;
    padding-left: 20px;
}

.container .profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #ccc;
}

.container .profile .left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
}

.container .profile .left img {
    border-radius: 50%;
    margin-right: 10px;
}

.container .profile .left .innerSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.container .profile .left .innerSection h1 {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.container .profile .left .innerSection h1 img {
    margin-left: 4px;
    margin-right: 0;
}

.container .profile .left .innerSection button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.container .profile .left .innerSection button:hover {
    background-color: #ddd;
}

.container .profile .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 50%;
    height: 100%;
}

.container .profile .right .levelBackground {
    height: 64px;
    width: 64px;
    background-color: #70d6ff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .profile .right .levelBackground .levelContainer {
    height: 58px;
    width: 58px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .profile .right .levelBackground .levelContainer h1 {
    font-size: 18px;
    font-weight: 600;
}

.container .profile .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container .profile .row p {
    font-size: 18px;
    font-weight: 500;
}

.container .profile .row button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30px;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
}

.container .profile .row button:hover {
    background-color: #ddd;
}

.container .box {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container .box h2 {
    font-size: 18px;
    font-weight: 600;
}

.container .box .passwordInput {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    padding-left: 10px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
}

.container .box .passwordInput:focus {
    border: 1px solid #ff70a6;
}

.container .box .passwordButton {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.container .box .passwordButton:hover {
    background-color: #ddd;
}

.container .tokensHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
}

.container .tokensHeader h2 {
    font-size: 18px;
    font-weight: 600;
}

.container .tokensHeader .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.container .tokensHeader button {
    height: 30px;
    padding: 0px 20px;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
}

.container .tokensHeader button:hover {
    background-color: #ddd;
}

.container .box .styleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

.container .box .styleContainer .style {
    height: 36px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.container .box .styleContainer .style span {
    color: #fff;
    font-size: 24px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.container .popup {
    position: fixed;
    top: 100vh;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}

.container .popup h2 {
    font-size: 24px;
    font-weight: 600;
}

.container .popup h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.container .popup p {
    font-size: 14px;
    font-weight: 500;
}

.container .popup .eth {
    font-size: 14px;
    font-weight: 500;
    margin-top: 10px;
}

.container .popup input {
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    height: 30px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
}

.container .popup button {
    margin-top: 10px;
    width: 200px;
    height: 30px;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
}

.container .popup button:hover {
    background-color: #ddd;
}

.container .popup .footer {
    position: absolute;
    bottom: 0;
    height: 50px;
}

.container .popup span {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}

.container .popup h3 {
    text-align: center;
}

.container .box .transactions {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.container .box .transactions .table {
    width: 100%;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}

.container .box .transactions .table .tableRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
}

.container .box .transactions .table .tableRow .tableHeader {
    font-size: 14px;
    font-weight: 600;
    flex: 1;
    text-align: center;
}

.container .box .transactions .table .tableRow .tableData {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    flex: 1;
}

.container .box .adminLinks {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.container .box .adminLinks a {
    height: 50px;
    width: 45%;
    padding: 0px 20px;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    margin-left: 2.5%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #000;
}

.container .box .adminLinks a:hover {
    background-color: #ddd;
}

.container .box .rewardBox {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    width: 80%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
}

.container .box .rewardBox h2 {
    font-size: 18px;
    font-weight: 600;
}

.container .box .rewardBox .rewardBoxContent {
    width: 200px;
    height: 40px;
    border: 1px solid #ccc;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.container .box .rewardBox .rewardBoxContent:hover {
    border: 1px solid #ff70a6;
}

.container .box .rewardBox input {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    height: 40px;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.container .box .rewardBox input:focus {
    border: 1px solid #ff70a6;
}

.container .box .rewardBox button {
    margin-top: 10px;
    width: 200px;
    height: 40px;
    background-color: #eee;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
}

.container .box .rewardBox button:hover {
    background-color: #ddd;
}

.container .box .gameBox {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("/img/game_bg.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    cursor: default;
}

.container .box .gameBox .gameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.container .box .gameBox .gameInfo p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.container .box .gameBox .gameInfo .gamePrice p {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.container .box .gameBox .gameDate {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}

.container .box .gameBox .gameDate p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.container .box .gameBox .players {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
}

.container .box .gameBox .players p {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
    .container .profile .right {
        width: auto;
    }

    .container .profile .right .levelBackground {
        height: 40px;
        width: 40px;
    }

    .container .profile .right .levelBackground .levelContainer {
        height: 36px;
        width: 36px;
    }

    .container .profile .right .levelBackground .levelContainer h1 {
        font-size: 12px;
    }

    .container .box .styleContainer .style {
        height: 30px;
    }

    .container .box .adminLinks a {
        width: 100%;
    }

    .container .profile h2 {
        font-size: 16px;
    }

    .container .profile .left {
        width: auto;
    }

    .container .profile .left .innerSection h1 {
        font-size: 16px;
    }

    .container .profile .left .innerSection button {
        height: 25px;
        font-size: 12px;
    }

    .container .profile .left .profilePicture {
        height: 50px;
        width: 50px;
    }

    .container .box {
        margin-top: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .tokensHeader {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container .tokensHeader .buttons {
        margin-top: 10px;
    }
}
